{% load static %}
<footer>
<div class="footer">
    <div class="footer-top">
      <div>
      <img src="{%static 'images/logo.png' %}" alt="">
      </div>
      <div>
      <img src="{%static 'images/Frame 100.png' %}" alt="">
      </div>
      </div>
      <div class="footer-buttom">
      <div class="u1">
        <div class="foot-col">
        <h3>Contact</h3>
        <p><i class="fa fa-envelope"></i>  QRcodegen@gmail.com</p>
        <p><i class="fa fa-phone"></i>  08165396547</p>
        <p><i class="fa fa-facebook"></i>  <i class="fa fa-instagram"></i>  <i class="fa fa-twitter"></i>  </p>
        </div>
        <div><img src="{%static 'images/Frame 101.png' %}" alt=""></div>
      </div>

       <div class="foot-col">
        <h3>About Us</h3>
        <p>Contact Us</p>
        <p>Advertise Us</p>
        <p>Create QRcode</p>
      </div>

       <div class="foot-col">
        <h3>Information</h3>
        <p>FAQ</p>
        <p>Privacy policy</p>
        <p>Cookies policy</p>
      </div>

      <div class="foot-col">
        <h3>Review</h3>
        <p>Google</p>
        <p>Twitter</p>
        <p>Facebook</p>
      </div>

       <div class="foot-col">
        <h3>Subscribe to Newsletter</h3>
        <p>Get daily update about QR code generator</p>
        <p></p>
        <form action="" class="form">
        <input type="text" placeholder="Email address">
        <button type="submit" name="sub">Subscribe</button>
        </form>
        </div>
        </div>
    </div>
<div id="footer">
    <p id="3p">Copyright@2022. All right reserved.</p>

</div>



</footer>