{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CodeGen</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

    <!-- Navbar Section Here-->
    <div id="fd">
      <a href="{% url 'generator:index' %}">
      <img src="{% static 'images/logo.png' %}" alt="" id="logo">
      <label id="flab" display="in-line">
        QR Gen
      </label></a>
      <nav display="in-line">
        <a href="{% url 'generator:aboutus' %}">About Us</a>
        <a href="{% url 'generator:faq' %}">FAQ</a>
        <a href="{% url 'generator:contactus' %}">Contact Us</a>
        <a id="asi" href="{% url 'generator:login' %}">Sign In</a>
    <a id="asu" href="{% url 'generator:signup' %}">Sign Up</a>
      </nav>
    </div>

    <!-- Hero Section Here -->

    <section class="hero">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
        <div class="container1">
            <div class="box1">
                <div class="box2">
                    <img src="{% static 'images/lp1.png' %}" alt="">
                    <p>Get numerous QR Codes</p>
                </div>
            </div>
            <div class="box1">
                <div class="box2">
                    <img src="{% static 'images/lp2.png' %}" alt="">
                    <p>Add several users you desire</p>
                </div>
            </div>
            <div class="box1">
                <div class="box2">
                    <img src="{% static 'images/lp3.png' %}" alt="">
                    <p>Scan without restriction</p>
                </div>
            </div>
            <div class="box1">
                <div class="box2">
                    <img src="{% static 'images/lp4.png' %}" alt="">
                    <p>Get Total Moitoring of your QR code</p>
                </div>
            </div>
            
        </div>

        <div class="container2">
            <div class="content">
                <h2>Get to know the types of QR codes</h2>
                <p>Explore the different types of Qr Codes with our QR Gen</p>
            </div>

            <div class="imageBoxes">
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'images/con1.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Location QR Code</h5>
                              <p class="card-text">Sharing your Google Maps location often makes it easier for clients to walk into your business location. Copy the link of your Google Maps Location and paste it into thr QR code generator to create Google Maps QR code.</p>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'images/con2.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Event QR Code</h5>
                              <p class="card-text">Make it easier for event attendees to add your event to their calendar, offer exclusive details, navigation and the chance to buy VIP passes, all with a single QR Code. You can use QR codes at the event to offer exclusive content.</p>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'images/con3.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Payment QR Code</h5>
                              <p class="card-text">Using this QR Code category allows users to send and receive money and make payments. The payment QR Codes can be used in a restaurant, retail stores, Movie theatres, events, small outlets, bars, cafes and many more.</p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'images/con1.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Rating QR Code</h5>
                                  <p class="card-text">Using a Rating QR code attracts new clients into your business. Use the QR code to direct customers to fill out a quick feedback form. You can place the Rating QR code on your flyers etc....</p>

                                </div>
                              </div>
                          </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'images/con2.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Call QR Code</h5>
                                  <p class="card-text">You can use QR Code to make calls without having to dial the numbers manually. This Call QR Code can be placed on billboard, inside stores to help shoppers get in touch with salespersons.</p>

                                </div>
                              </div>
                          </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'images/con3.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Text QR Code</h5>
                                  <p class="card-text">This can be used in educational institutes. It allows students to cross-check their answers. It also enables retailers to provide additional information about their products.</p>

                                </div>
                              </div>
                          </div>
                    </div>
                  </div>

            </div>
            <div id="c2Btn">
              <button><p>View More</p></button>
            </div>
        </div>

        <div class="container3">
          <div class="content">
            <h2>Why you should use our QR Generator...</h2>
            <p>Provide more information with ease and zero stress</p>
        </div>
        <div class="info">
          <h3>Easy to save and use</h3>
          <h3>Fast information retrieval</h3>
          <h3>Connect with clients</h3>
        </div>
        <div class="row">
          <div class="col" id="first">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/con3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Location QR Code</h5>
                  <p class="card-text">Sharing your Google Maps location often makes it easier for clients to walk into your business location. Copy the link of your Google Maps Location and paste it into thr QR code generator to create Google Maps QR code.</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/con3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Event QR Code</h5>
                  <p class="card-text">Make it easier for event attendees to add your event to their calendar, offer exclusive details, navigation and the chance to buy VIP passes, all with a single QR Code. You can use QR codes at the event to offer exclusive content.</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/con3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Payment QR Code</h5>
                  <p class="card-text">Using this QR Code category allows users to send and receive money and make payments. The payment QR Codes can be used in a restaurant, retail stores, Movie theatres, events, small outlets, bars, cafes and many more.</p>
                </div>
              </div>
          </div>
        </div>
        </div>

        <div class="container4">
          <div class="c4box">
            <div class="left">
              <h1>Meet QR Generator</h1>
              <h1>Team members</h1>
              <p>Scale up your business and ideas now. Speak with any of our team members for more inquiry</p>
              <div id="c4Btn">
                <a href="{% url 'generator:contactus' %}"><button><p>Contact Us</p></button></a>
            </div>
            </div>
            <div class="right">
              <div class="imagepp">
                <div class="image">
                  
                  <img src="{% static 'images/qrimage1.png' %}" alt="">
                </div>
                <h3>Toluwa</h3>
                <p>Marketing Executive</p>
              </div>
              <div class="imagepp">
                <div class="image">
                  <img src="{% static 'images/qrimage2.png' %}" alt="">
                </div>
                <h3>Pelumi</h3>
                <p>Head of Ideas and Designs</p>
              </div>
              <div class="imagepp">
                <div class="image">
                  <img src="{% static 'images/qrimage3.png' %}" alt="">
                </div>
                <h3>Ben</h3>
                <p>Lead Guide Assistance</p>
              </div>
              <div class="imagepp">
                <div class="image">
                  <img src="{% static 'images/qrimage4.png' %}" alt="">
                </div>
                <h3>Pappy</h3>
                <p>Product Specialist</p>
              </div>
                
              </div>
          </div>
        </div>
        <div class="container5">
          <div class="content">
            <h2>Our Happy Clients</h2>
            <p>Hear what some of our clients have to say about their experiences with QR Generator</p>
          </div>

          <div class="row">
            <div class="col" id="first">
              <div class="card" style="width: 18rem;" id="client1">
                  <img src="{% static 'images/client1.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tee Foods</h5>
                    <p class="card-text">As a food vendor, generating a QR code with this tool has helped my business scale up and has made it easy for me to update my clients on any of my new product. Will highly recommend this to other vendors</p>
                  </div>
                </div>
            </div>
            <div class="col" >
              <div class="card" style="width: 18rem;" id="client2">
                  <img src="{% static 'images/client2.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Ostrich Hotels</h5>
                    <p class="card-text">Using this QR Generator tool has made it easy for me to sell my tickets to my fans with no stress and there is no more starting my shows late.</p>
                  </div>
                </div>
            </div>
            <div class="col" >
              <div class="card" style="width: 18rem;" id="client3">
                  <img src="{% static 'images/client3.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Abisola</h5>
                    <p class="card-text">One of the things that has being helping my studies is this QR Generator tool. I have been able to connect with other students and course contents with quality examples.</p>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="container6">
          <div class="content">
            <h2>Subscribe to our Newsletter</h2>
            <p>Stay in the know... Get exclusive and early access to special offers ad promotions</p>
          </div>
          <div>
            <form class="form1" action="{% url 'generator:index' %}" method="POST">
              {% csrf_token %}
              <label for="fname">First Name</label><br>
              <input type="text" id="fname" name="name" placeholder="ToluAriyo"><br>
              <label for="email">Email</label><br>
              <input type="email" id="email" name="email" placeholder="example@hotmail.com"><br><br>
              <input type="submit" value="Subscribe" id="submit">
            </form> 
          </div>
    </section>

        {% include 'generator/_footer.html' %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>   
</body>
</html>