.q3-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.q3-top-left{
    border-radius: 3px;
    background-color: rgba(226, 220, 240, 1);
}

.q3-top-right{
    border-radius: 3px;
    background-color: rgba(226, 220, 240, 1);
}